/* ---Color 
-#d9480f 
#e8590c
#fff4e6*/

/*####################################### */
/*  MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

.grid {
  display: grid;
  align-items: center;
  column-gap: 9.2;
  row-gap: 6.2;
}

.grid--2 {
  grid-template-columns: 1fr 1fr;
}

.grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*####################################### */

/*  header */
.header {
  background-color: #fff4e6;
  height: 9.6rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navbar ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-navbar ul li {
  list-style: none;
}
.header-logo {
  height: 2.5rem;
}

.navbar-a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.4;
}

.navbar-a:hover {
  color: #cf711f;
}

.last-a {
  background-color: #cf711f;
  padding: 1.2rem 2.4rem;
  color: white;
  border-radius: 8px;
  transition: all 0.4;
}

.last-a:hover {
  background-color: #b8651b;
  color: white;
}
/*####################################### */
/*####################################### */
/* HERO SECTION */

.section-hero {
  
  background-color: #fff4e6;
}

.hero {
  padding: 4.5rem 4.5rem 9.2rem 4.5rem;
  margin: 0 auto;
  max-width: 1300px;
}

.text-header {
  font-size: 4.8rem;
  margin-bottom: 4rem;
  font-weight: 700;
  letter-spacing: 0.5;
  line-height: 1;
}

.hero-p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 7.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 3.2rem;
  background-color: #e67e22;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  transition: background-color 1s;
  margin-bottom: 6.2rem;
}

.btn:hover {
  background-color: #cf711f;
}

.margin-right {
  margin-left: 3rem;
}

.more-btn {
  color: black;
  background-color: white;
}

.more-btn:hover {
  /* aw inset bo awaya properte ka bo nawawa bet nak darawa wa awa shewae pedane bordera la kate hover be awae qabarakae gawrabet */
  box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
  background-color: #fff4e6;
}

.hero-img {
  /* la parent e am wenaya krdwmana ba dw colum e yaksan lerash wtwmana ba width ka 100 la 100 ba qabarae newae parentaka wargret */
  width: 100%;
}

.customer-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-img img {
  height: 4rem;
  width: 4rem;
  border: 3px solid #fff4e6;
  /* boya margin -1 bo awae wenakan bchnawa sar yaktre */
  margin-right: -1rem;
  border-radius: 50%;
}

.customer-img img:last-child {
  margin: 0;
}

.customer-p {
  font-weight: 600;
  font-size: 1.8rem;
}

.customer-p span {
  font-weight: 700;
  color: #b8651b;
}

/* ******************** */

.box-logo {
  display: flex;
  justify-content: space-around;
}

.logo-section {
  padding: 6.4rem 0 3.4rem 0;
}
.logo-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #888;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.logo {
  height: 2.7rem;
  filter: brightness(0);
  opacity: 50%;
}

/*####################################### */

.how-row-gap {
  display: flex;
  flex-direction: column;
  gap: 9.2rem;
}
.how-it-works {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.5;
  font-size: 1.8rem;
  color: #e67e22;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.how-header {
  color: #222;
  font-weight: 600;
  font-size: 4.4em;
}

.how-img {
  width: 35%;
}
.how-section {
  padding: 9.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 9.2rem;
}

.how-number {
  font-size: 9.2rem;
  color: #999;
}

.how-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.6rem;
  letter-spacing: -0.5;
}

.how-p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-img-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-back-2 {
  position: absolute;
  height: 85%;
  width: 58%;
  background-color: #fdf2e9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 1000px;
}

.img-back-1 {
  position: absolute;
  height: 64%;
  width: 48%;
  background-color: #fae5d3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 200rem;
}
/*####################################### 
MEAL BOX 
####################################### */
.meal-section{
  padding: 9.2rem 4.2rem;
}
.meal{
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: stretch;
  
  column-gap: 7.2rem;
}
.meals{
  margin-bottom: 1.5rem;
  text-align: center;
  color: #e67e22;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.meal-title{
  color: #333;
  font-size: 4.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 9.6rem;
}
.meal-box{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.137);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s;
}

.meal-box:hover{
  transform: translateY(-5%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.137);
}
.meal-img{
  
  width: 100%;
}
.meal-catigory{
  display: flex;
  gap: 5px;
}

.meal-text{
  margin-top: 3rem;
  margin-left: 4rem;
}

.catigory{
 display: inline-block;
 margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background-color: #51cf66;
  color: #222;
  padding: 3px 6px;
  border-radius: 1rem;

}
.vegan{
  background-color: #ffd43b;
}


.meal-text h4{
  font-size: 2.6rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 3rem;
}


.meal-text ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.meal-text ul li{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  list-style: none;
  
  
}

.icon{
  color: #e67e22;
  font-size: 2.5rem;
}

.done-box h3{
  color: #333;
  font-size: 3.2rem;
  margin-bottom: 2.8rem;
  font-weight: 700;
}

.done-box ul{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.done-box ul li{
  display: flex;
  align-items: center;
  
  list-style: none;
  
  gap: 1.6rem;
  
}
.done-box ul li span{
  font-size: 1.8rem;
 
}
.done-icon{
  font-size: 3rem;
  color: #e67e22;
}
.recip-box{
  text-align: center;
  padding: 5.5rem 0;
}
.recip{
  border-bottom: 1px solid #e67e22;
  padding: 2px;
  text-decoration: none;
  color: #e67e22;
  font-size: 1.8rem;
  transition: all 1s;
}

.recip:hover{
  color: #b8651b;
  border: currentColor;
}


